:root, body {
	--font-primary: Noto Sans Mono, Roboto Mono, monospace;
	--font-display: var(--font-primary);
	--font-headline: var(--font-primary);
	--font-japanese: var(--font-primary);
	--font-korean: var(--font-primary);
	--font-chinese-traditional: var(--font-primary);
	--font-chinese-simplified: var(--font-primary);
	--font-code: Gintronic Light, var(--font-primary);
	
	--text-link: hsl(197,calc(var(--saturation-factor,1) * 100%),47.8%);
	--text-link-low-saturation: hsl(197,calc(var(--saturation-factor,1) * 100%),52.9%);
	--text-positive: hsl(139,calc(var(--saturation-factor,1) * 66.8%),58.6%);
	--text-warning: hsl(38,calc(var(--saturation-factor,1) * 95.7%),54.1%);
	--text-danger: hsl(359,calc(var(--saturation-factor,1) * 82.6%),59.4%);
	--text-brand: hsl(235,calc(var(--saturation-factor,1) * 86.1%),77.5%);
	
	--header-primary: #fff;
	--header-secondary: #b9bbbe;
	--text-normal: #dcddde;
	--text-muted: #72767d;
	--interactive-normal: #b9bbbe;
	--interactive-hover: #dcddde;
	--interactive-active: #fff;
	--interactive-muted: #4f545c;
	
	--background-primary: #0d0d46;
	--background-secondary: #111155;
	--background-secondary-alt: #131360;
	--background-tertiary: #15156a;
	--background-accent: #191980;
	--background-floating: #08082b;
	--background-mobile-primary: var(--background-primary);
	--background-mobile-secondary: var(--background-secondary);
	--background-modifier-hover: hsla(60, 8%, 34%, 0.16);
	--background-modifier-active: hsla(60, 8%, 34%, 0.24);
	--background-modifier-selected: hsla(60, 8%, 34%, 0.32);
	--background-modifier-accent: hsla(0, 0%, 100%, 0.06);
	
	--_be: 197, calc(var(--saturation-factor, 1) * 94%), 45%;
	--brand-experiment: hsl(var(--_be));
	--brand-experiment-05a: hsla(var(--_be), 0.05);
	--brand-experiment-10a: hsla(var(--_be), 0.1);
	--brand-experiment-15a: hsla(var(--_be), 0.15);
	--brand-experiment-20a: hsla(var(--_be), 0.2);
	--brand-experiment-25a: hsla(var(--_be), 0.25);
	--brand-experiment-30a: hsla(var(--_be), 0.3);
	--brand-experiment-35a: hsla(var(--_be), 0.35);
	--brand-experiment-40a: hsla(var(--_be), 0.4);
	--brand-experiment-45a: hsla(var(--_be), 0.45);
	--brand-experiment-50a: hsla(var(--_be), 0.5);
	--brand-experiment-55a: hsla(var(--_be), 0.55);
	--brand-experiment-60a: hsla(var(--_be), 0.6);
	--brand-experiment-65a: hsla(var(--_be), 0.65);
	--brand-experiment-70a: hsla(var(--_be), 0.7);
	--brand-experiment-75a: hsla(var(--_be), 0.75);
	--brand-experiment-80a: hsla(var(--_be), 0.8);
	--brand-experiment-85a: hsla(var(--_be), 0.85);
	--brand-experiment-90a: hsla(var(--_be), 0.9);
	--brand-experiment-95a: hsla(var(--_be), 0.95);
	
	text-rendering: geometricPrecision;
}

:root, body {

	/*SEPARATOR*/
	--info-positive-background: hsla(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%, 0.1);
	--info-positive-foreground: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);
	--info-warning-background: hsla(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%, 0.1);
	--info-warning-foreground: hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%);
	--info-danger-background: hsla(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%, 0.1);
	--info-danger-foreground: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
	--status-positive-background: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);
	--status-positive-text: #fff;
	--status-warning-background: hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%);
	--status-danger-background: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
	--status-danger-text: #fff;
	--focus-primary: hsl(197, calc(var(--saturation-factor, 1) * 100%), 47.8%);
	--info-positive-text: #fff;
	--info-warning-text: #fff;
	--info-danger-text: #fff;
	--info-help-background: hsla(197, calc(var(--saturation-factor, 1) * 100%), 47.8%, 0.1);
	--info-help-foreground: hsl(197, calc(var(--saturation-factor, 1) * 100%), 47.8%);
	--info-help-text: #fff;
	--status-warning-text: #000;
	--scrollbar-thin-thumb: #202225;
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: #202225;
	--scrollbar-auto-track: hsl(210, calc(var(--saturation-factor, 1) * 9.8%), 20%);
	--scrollbar-auto-scrollbar-color-thumb: #202225;
	--scrollbar-auto-scrollbar-color-track: #2f3136;
	--elevation-stroke: 0 0 0 1px rgba(4, 4, 5, 0.15);
	--elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
	--elevation-medium: 0 4px 4px rgba(0, 0, 0, 0.16);
	--elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
	--logo-primary: #fff;
	--control-brand-foreground: hsl(235, calc(var(--saturation-factor, 1) * 86.1%), 77.5%);
	--control-brand-foreground-new: hsl(235, calc(var(--saturation-factor, 1) * 86.1%), 77.5%);
	--background-mentioned: hsla(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%, 0.1);
	--background-mentioned-hover: hsla(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%, 0.08);
	--background-message-hover: rgba(4, 4, 5, 0.07);
	--channels-default: #8e9297;
	--guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
	--channeltextarea-background: #08082b;
	--activity-card-background: #202225;
	--textbox-markdown-syntax: #8e9297;
	--deprecated-card-bg: rgba(32, 34, 37, 0.6);
	--deprecated-card-editable-bg: rgba(32, 34, 37, 0.3);
	--deprecated-store-bg: #36393f;
	--deprecated-quickswitcher-input-background: #72767d;
	--deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
	--deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
	--deprecated-text-input-border: rgba(0, 0, 0, 0.3);
	--deprecated-text-input-border-hover: #040405;
	--deprecated-text-input-border-disabled: #202225;
	--deprecated-text-input-prefix: #dcddde;
}

pre, code 													{ font-family: var(--font-code) !important; }

[class*="name"], [class*="name"] * 	{ font-size: 0.9rem; }

[id*="-tab"] 												{ background-color: var(--background-primary); }
[class*="modal"] [class*="Modal"] 	{ background-color: var(--background-secondary); }
[class*="modal"] [class*="footer"] 	{ background-color: var(--background-primary); }