body, [class*="theme"] {
	--font-display: Noto Sans, monospace;
	--font-primary: var(--font-display);
	--font-headline: var(--font-display);
	--font-code: Noto Sans Mono, monospace;
  --font-korean: var(--font-display);
  --font-japanese: var(--font-display);
  --font-chinese-traditional: var(--font-display);
  --font-chinese-simplified: var(--font-display);
	
	--background-primary: #0e0e3f;
	--background-secondary: #10104a;
	--background-secondary-alt: #15155f;
	--background-tertiary: #18186a;
	--background-floating: var(--background-secondary-alt);
	
	--channeltextarea-background: var(--background-secondary-alt);
  
  --text-normal: #dbdbdb;
  --text-link: #f7dc6f;
  
  --interactive-normal: #e0e0e0;
  --interactive-active: #eaebec;
  
  --brand-experiment: hsla(198, calc(var(--saturation-factor, 1) * 100%), 46%, 0.92);

  font-size: 0.9rem;
	text-rendering: optimizeLegibility;
}

[id*="-tab"] { background-color: var(--background-primary); }

[class*="input"] { font-size: 0.95rem; }

[class*="markup"] code { font-family: var(--font-code) !important; font-size: 0.85rem !important; background-color: #17202a; border-color: #b7950b; }

[class*="channelName"], [class*="nameAndDecorators"] [class*="name"] { font-size: 0.9rem; }
.container-2ax-kl { text-transform: unset; font-size: 0.9rem; }
[class*="activityText"] { font-size: 0.8rem; }

[class*="reactionInner"] { background-color: var(--background-tertiary); border-radius: 6px; }

/* Highlight.js CLASSES */
